@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl text-center mb-4 mt-4;
  }
  h2 {
    @apply text-2xl text-center mb-4 mt-4;
  }
  p {
    @apply indent-4 mb-2 mt-2
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: medium;
    background: white
    /* background: linear-gradient(90deg, #363636 0%, #ffffff 100%); */
}
